.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: white;
  align-items: center;
}
.button-add{
  background-color: rgb(100,180,100);
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  min-height:30px; 
  min-width: 120px;
  


}
.button-add:hover {
  background-color:#ffbf00;
  transition: 0.7s;
}


  


.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.set{text-align: center;}

input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(74, 28, 28, 0.25);
}

.item-input {
  width: 300px;
}
.input-container {
  display: flex;
}

.input-container input {
  margin-right: 10px;
}


img {
  width: 150px;
  margin: 20px 0
}

.container {
  display: flex;
  align-items: center;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(74, 28, 28, 0.25);
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

li p {
  text-transform: capitalize;
  font-size: 12px;
  margin-left: 10px;
}

li p span {
  font-size: 8px;
  font-weight: bold;
}

.remove-button {
  color: rgb(230, 85, 85);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.success {
  text-align: center;
  color: rgb(100,180,100);
  font-weight: 700;
}

ul {
  margin: 0;
}
/* Default styles */

/* Add your default styles here */

/* Media query for mobile */
@media (max-width: 768px) {
  .App {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .input-container {
    flex-direction: column; /* Change input and button to column layout */
  }

  .input-container input {
    margin-right: 0; /* Remove margin for input */
    margin-bottom: 10px; /* Add margin bottom for spacing */
  }

  .input-container button {
    margin-top: 10px; /* Add margin top for spacing */
  }

  img {
    width: 100px; /* Reduce image size for smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}
